/* Colors to use: Different Shades of Blue, Black, White. Colors of a Blue Jay. */
:root {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #cce6ff 0%, white 100%);
    background-attachment: fixed;
    margin: 0;
    overflow-x: hidden;
}

main {
    padding-top: 120px;
}

/* navigation bar */
nav.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(190, 237, 255);
    padding: 0 20px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
    nav.topnav img {
        width: 160px;
        display: block;
        margin-bottom: 10px;
    }
    nav.topnav ul {
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    nav.topnav ul li a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        display: block;
        padding: 10px 18px;

        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.2);

        transition: all 0.2s ease;
    }
    nav.topnav ul li a:hover {
        background-color: white;
        transform: translateY(-2px);
        box-shadow: 2px 4px 6px rgba(0,0,0,0.25);
        filter: brightness(1.05);
    }
    nav.topnav ul li a:active {
        transform: translateY(1px);
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
    }

/* hero section */
.hero {
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 50, 0.4),rgba(0, 0, 50, 0.4)), 
    url('../images/hero-bg.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
}
    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    }
    .hero p {
        font-size: 1.5rem;
        max-width: 700px;
        margin: 0 auto 2rem auto;
        line-height: 1.5;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
    .hero-btn {
        display: inline-block;
        padding: 12px 28px;
        background-color: rgba(255, 255, 255, 0.8); 
        color: #004080;
        font-weight: bold;
        text-decoration: none;
        border-radius: 8px;
        box-shadow: 1px 3px 6px rgba(0,0,0,0.3);
        transition: all 0.3s ease;
    }
    .hero-btn:hover {
        background-color: #fff;
        transform: translateY(-3px);
        box-shadow: 2px 6px 10px rgba(0,0,0,0.4);
    }
    .hero-btn:active{
        transform: translateY(1px);
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
    }

/* overview and about */
.overview,
.about {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}

.overview h2,
.about h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 64, 128);
}

.overview p,
.about p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: rgb(51, 51, 51);
    max-width: 700px;
    margin: 0 auto;
}

.about {
    background-color: rgb(220, 235, 255);
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* services */
.services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
    text-align: center;
}
    .services h2 {
        font-size: 2.5rem;
        color: rgb(0, 64, 128);
        margin-bottom: 2rem;
    }
    .service-box {
        background-color: rgb(224, 240, 255);
        padding: 30px 20px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .service-box h3 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 1rem;
    }
    .service-box p {
        font-size: 1rem;
        line-height: 1.5;
        color: white;
    }
        .service-box.box1 {
            background-image: linear-gradient(rgba(95, 95, 95, 0.8), rgba(0, 0, 0, 0.8)),
            url('../images/servicebox1.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .service-box.box2 {
            background-image: linear-gradient(rgba(95, 95, 95, 0.8), rgba(0, 0, 0, 0.8)),
            url('../images/servicebox2.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .service-box.box3 {
            background-image: linear-gradient(rgba(95, 95, 95, 0.8), rgba(0, 0, 0, 0.8)),
            url('../images/servicebox3.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .service-box.box4 {
            background-image: linear-gradient(rgba(95, 95, 95, 0.8), rgba(0, 0, 0, 0.8)),
            url('../images/servicebox4.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    .service-box:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    }

.info-section {
    max-width: 1200px;
    margin: auto;
}
    .info-block {
        background: rgba(255, 255, 255, 0.7);
        padding: 30px 35px;
        border-radius: 0 14px 14px 0;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
        border-left: 6px solid rgb(1, 124, 224);
    }

.gallery-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
}
    .gallery-section h2 {
        font-size: 2.5rem;
        color: #004080;
        margin-bottom: 2rem;
    }
    .gallery figure {
        margin: 0;
        position: relative;
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        background-color: #e0f0ff;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .gallery figure img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
        transition: transform 0.3s ease;
    }
    .gallery-grid figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 16px;
        background: rgba(0, 0, 50, 0.7);
        color: #fff;
        font-size: 0.95rem;
        text-align: left;
        transition: background 0.3s ease;
    }
    .gallery-grid figure:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }

    .gallery-grid figure:hover img {
        transform: scale(1.05);
    }

    .gallery-grid figure:hover figcaption {
        background: rgba(0, 0, 50, 0.85);
    }

.cta {
    background: linear-gradient(rgba(0, 0, 50, 0.4),rgba(0, 0, 50, 0.4)), 
    url('../images/cta.jpg') center/cover no-repeat;
    border-radius: 20px;
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}
    .cta h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .cta p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }
    .cta-btn {
        display: inline-block;
        padding: 15px 35px;
        font-size: 1.1rem;
        font-weight: bold;
        color: #fff;
        background-color: #004080;
        border-radius: 12px;
        text-decoration: none;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    }
    .cta-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.25);
        background-color: #002f6c;
    }
    .cta-btn:active {
        transform: translateY(1px);
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
    }

footer {
    background: linear-gradient(180deg, rgb(0, 64, 124) 70%, rgb(0, 33, 71) 100%);
    color: white;
    padding: 60px 20px 30px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px 20px 0 0;
}
    .footer-container h2,
    .footer-container h3 {
        margin-bottom: 15px;
        color: #80ccff;
    }
    .footer-container p,
    .footer-container ul {
        margin: 0;
        line-height: 1.7;
    }
    .footer-links ul {
        list-style: none;
        padding: 0;
    }
    .footer-links ul li a {
        color: white;
        text-decoration: none;
        transition: color 0.2s ease;
    }
    .footer-links ul li a:hover {
        color: #80ccff;
    }
    .footer-bottom {
        text-align: center;
        margin-top: 40px;
        font-size: 0.9rem;
        color: #cce6ff;
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top: 20px;
    }
    .footer-contact a {
        color: white;
        transition: color 0.2s ease;
    }
    .footer-contact a:hover {
        color: #80ccff;
    }