/* Colors to use: Different Shades of Blue, Black, White. Colors of a Blue Jay. */
:root {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

h2 {
    margin: 0;
}
p {
    margin: 6px 0;
}

section.overview {
    border: 3px black solid;
    margin: 6px;
    padding: 10px 20px;
    border-radius: 15px;
}

section.flex1 {
    display: flex;
}
section.flex2 {
    display: flex;
    flex: 12;
    flex-direction: column;
}

article.article1, article.article2 {
    border: 3px black solid;
    margin: 6px;
    padding: 10px 20px;
    border-radius: 15px;
}
    article.article2 {
        text-align: right;
    }

aside.aside1 {
    background-color: black;
    color: white;
    border-radius: 15px 0 0 15px;
    margin: 6px 0 6px 6px;
    padding: 10px 20px;
    text-align: center;
    flex: 1;
}

/* navigation bar */
nav.topnav {
    display: flex;
    align-items: center;
    background-color:  rgb(190, 237, 255);
    height: 120px;
    position: sticky;
    padding: 0 20px;
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
}
    nav.topnav img {
        width: 160px;
    }
    nav.topnav ul {
        display: flex;
        list-style: none;
        gap: 16px;
        padding: 16px;
    }
        nav.topnav ul li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            display: block;
            padding: 12px 20px;
            background-color: whitesmoke;
            border-radius: 12px 12px 12px 12px;
            box-shadow: 1px 2px black;
        }
        nav.topnav ul li a:hover {
            filter: brightness(0.95)
        }
        nav.topnav ul li a:active {
            transform: translateY(1px);
            box-shadow: -2px -2px black;
        }