footer {
    display: grid;
    place-items: center;
    padding: 2rem;
}
    .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 30px;
    }