/* Colors to use: Different Shades of Blue, Black, White. Colors of a Blue Jay. */
html {
    margin: 0;
    padding: 0;
    /* simple reset */
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

/* navigation bar */
nav.topnav {
    display: flex;
    align-items: center;
    background-color:  rgb(190, 237, 255);
    height: 120px;
    position: sticky;
    padding: 0 20px;
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
}
    nav.topnav img {
        width: 160px;
    }
    nav.topnav ul {
        display: flex;
        list-style: none;
        gap: 16px;
        padding: 16px;
    }
        nav.topnav ul li a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            display: block;
            padding: 12px 20px;
            background-color: whitesmoke;
            border-radius: 12px 12px 12px 12px;
            box-shadow: 1px 2px black;
        }
        nav.topnav ul li a:hover {
            filter: brightness(0.95)
        }
        nav.topnav ul li a:active {
            transform: translateY(1px);
            box-shadow: -2px -2px black;
        }